<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-a">
        <title>{{title}} page</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>
       {{> footer}}
    </body>
</html>