<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-a">
        <title>{{title}} page</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt content}}</p>
        {{> footer}}
    </body>
</html>